<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me - Aimen Hallou</title>
  </head>
  <body>
    <div class="container">
      <section class="profile-section">
        <div>
          <h1>Aimen Hallou</h1>
          <p class="subtitle">Full Stack Software Developer</p>
        </div>
      </section>

      <section class="info-section">
        <h2>Get to Know Me</h2>
        <p>
          At heart, I'm a creator. Ever since I was young, I've been coding and
          crafting my own games. Beyond the world of code, I have a penchant for
          chess and have even claimed victory in several tournaments. My
          wanderlust often takes me to new places, and I'm a proud cat
          enthusiast. While I'm deeply passionate about software development and
          technology, I also cherish these personal pursuits that define me.
        </p>

        <h2>Skills & Technologies</h2>
        <ul>
          <li>
            Java, C++, Python, TypeScript, HTML, CSS, JavaScript, Solidity
          </li>
          <li>
            React, Redux, Spring Boot, Express, Tailwind CSS, Flutter, REST
            APIs, GraphQL API, DApps
          </li>
          <li>PostgreSQL, MongoDB, MySql</li>
          <li>
            Git, Docker, Ubuntu, Red Hat, AWS EC2, Azure App Services, CI/CD
            pipelines, JUnit, TDD
          </li>
          <li>Visual Studio Code, IntelliJ Idea, Eclipse, PyCharm</li>
        </ul>

        <a href="assets/AimenHallouResume.pdf" class="resume-btn"
          >View Full Resume</a
        >
      </section>
    </div>
  </body>
</html>
