.work-page {
  background: url("../../assets/wave_background.jpeg") no-repeat center center;
  background-size: cover;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  align-items: flex-start;
  padding: 50px 50px 100px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  
  .project {
    width: calc(33.33% - 40px);
    background-color: rgba(4, 8, 231, 0.119);
    padding: 20px;
    margin-top: 80px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;

    .project-carousel {
        flex-basis: 10%;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
  
        img {
          width: 100%;
          height: auto;
          object-fit: contain; 
          &:hover {
            transform: scale(1.05);
          }
        }
  
        .carousel-navigation {
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          gap: 10px;
          z-index: 10;
  
          .nav-dot {
            width: 10px;
            height: 10px;
            background: #aaa;
            border-radius: 50%;
            cursor: pointer;
            &.active {
              background: #333;
            }
          }
        }
      }

      .project-skills {
        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 10px;
        }
        li {
          background-color: #e7e9fc;
          color: #343a40; 
          padding: 3px 8px; 
          border-radius: 15px; 
          font-size: 0.75rem;
          font-weight: 400; 
          white-space: nowrap;
          border: 2px solid #007bff;
        }
      }
      

    .project-description {
      flex-basis: 40%;
      padding-top: 20px;

      h2 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 10px;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
      }

      p {
        color: #ffffff;
        font-size: 0.9rem;
      }

      button {
        display: block;
        margin-top: 15px;
        background: linear-gradient(135deg, #007bff, #0056b3);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s, transform 0.2s;

        &:hover {
          background: linear-gradient(135deg, #0056b3, #003c7a);
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .work-page {
    padding: 30px;
  }

  .project {
    width: calc(50% - 15px);
  }
}

@media (max-width: 600px) {
  .project {
    width: 100%;
    margin-bottom: 20px;
  }
}
