<div class="about-page">
    <div class="container">
        <div class="title">
            Let's Connect!
        </div>
        <div class="contact-description">
            I'm always open to discussing any project or idea, or simply networking. Reach out to me through my social platforms below.
        </div>
        
        <div class="social-buttons">
            <a href="your_linkedin_profile_link" class="btn linkedin-btn">
                <img src="assets/linkedinlogo.png" alt="LinkedIn Profile"> 
            </a>

            <a href="your_github_profile_link" class="btn github-btn">
                <img src="assets/githublogo.png" alt="GitHub Profile"> 
            </a>
        </div>

        <div class="contact-footer">
            Or drop me an email at: <span class="email-address">hdmen55@hotmail.com</span>
        </div>
    </div>
</div>
