<div class="hero-section">
    <div class="hero-content">
      <div class="intro">
        <p>Hello, my name is</p>
      </div>
      <h1>
        <span class="letter">A</span>
        <span class="letter">i</span>
        <span class="letter">m</span>
        <span class="letter">e</span>
        <span class="letter">n</span>
      </h1>
      <p class="job-title">Software Engineer</p>
      <p>A passionate software engineer crafting innovative solutions.</p>
      <button class="button" routerLink="/projects">View My Work</button>
    </div>
  </div>
  